.none
    display: none

.button-clasic
    border-color: #43be1e
    background-color: #43be1e
    color: #fff
    // margin-bottom: 20px
    margin-right: 20px
    border: 2px solid transparent
    border-radius: 4px
    font-size: 16px
    height: 40px
    min-width: 164px
    padding: 0 12px
    text-decoration: none
    font-weight: 700
    &:hover
        background-color: #fff
        color: #111
        font-weight: bold
        border-color: #2e631e
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

.button-green
    border-color: #43be1e
    background-color: #43be1e
    color: #fff
    border: 2px solid transparent
    font-size: 15px
    height: 60px
    min-width: 164px
    text-decoration: none
    font-weight: 700
    border-radius: 20px 20px 0 0
    padding: 15px 0
    display: flex
    align-items: center
    justify-content: center
    >i
        margin: 20px
        padding: auto
    &:hover
        background-color: #fff
        color: #111
        font-weight: bold
        border-color: #2e631e
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

.button-aqua
    border-color: #6ECCAF
    background-color: #6ECCAF
    color: #fff
    border: 2px solid transparent
    font-size: 15px
    height: 60px
    min-width: 164px
    text-decoration: none
    font-weight: 700
    border-radius: 20px 20px 0 0
    text-align: center
    padding: 15px 0
    display: flex
    align-items: center
    justify-content: center
    >i
        margin-left: 20px
        margin-right: 20px
    &:hover
        background-color: #fff
        color: #111
        font-weight: bold
        border-color: #2e631e
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
